<html ng-app="mpApp">
    <head>
        <title>Demo MP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body>        
        <div id="pica" ng-controller="pockemonController">
            <h1>Pockemon</h1>
            <div>
                <label>Ingrese nombre</label>
                <input type="text" ng-model="nombre" placeholder="Nombre" />
            </div>
            <button type="button" ng-click="getPockemon()">Carga Datos</button>
			<br>
			<br>
			<br>
			<label>Nombre:</label>			
            <output>{{name}}</output>
			<br>
			<label>Weight:</label>			
            <output>{{weight}}</output>
			<br>
			<label>Height:</label>			
            <output>{{height}}</output>
			<br>
			<label>Experience:</label>			
            <output>{{experience}}</output>
			<br>
			<label>Tipos</label>
			<br>
			<ul ng-repeat="f in pockemonTypes">
			    <li><label>{{f.type.name}}</label></li>
			</ul>
			
        </div>
    </body>
</html>
